body {
  min-width: 400px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px; }

input, select {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px; }

input {
  width: 11em; }

.nav {
  position: relative;
  text-align: center; }

.right-container {
  position: absolute;
  top: 0;
  right: 0; }

#clear:hover {
  color: #e32d2d; }

.btn-group {
  font-size: 14px; }

.button {
  font-size: 14px;
  cursor: pointer;
  transition: color 0.1s;
  -moz-transition: color 0.1s;
  -webkit-transition: color 0.1s;
  -o-transition: color 0.1s; }
  .button:hover {
    color: #e32d2d !important; }

.button.delete {
  color: #666666; }

#main {
  margin-top: 0.3em; }
  #main .item {
    margin-bottom: 0.5em; }
    #main .item .header {
      position: relative;
      padding-right: 15px; }
      #main .item .header .delete {
        position: absolute;
        top: 0;
        right: 0; }
  #main .info {
    padding-left: 2em; }

.left {
  float: left; }

.right {
  float: right; }

input.default {
  color: #aaaaaa; }
